---

---

<div>
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div
          class="relative rounded-full px-3 py-1 text-sm/6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
        >
          Agua purificada con los más altos estándares de calidad. <a
            href="/procesos"
            class="font-semibold text-[#0288c7] hover:text-[#083049] transition-colors duration-300"
            ><span class="absolute inset-0" aria-hidden="true"></span>Ver
            procesos <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </div>
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
        >
          <span>Tu agua,</span>
          <span class="text-[#0288c7]">nuestra</span>
          <span class="text-[#0288c7]">máxima</span>
          <span>calidad.</span>
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          Ofrecemos agua purificada de la más alta calidad para tu hogar y
          negocio. Con procesos de filtración avanzados y entregas puntuales,
          garantizamos la pureza que tu familia merece.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="/solicitar"
            class="rounded-md bg-[#0288c7] px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-[#083049] transition-colors duration-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0288c7]"
            >Solicita tu entrega</a
          >
          <a
            href="/nosotros"
            class="group inline-flex items-center gap-2 rounded-md border-2 border-[#0288c7] px-4 py-2.5 text-sm font-semibold text-[#0288c7] hover:bg-[#0288c7] hover:text-white transition-all duration-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0288c7]"
          >
            Conócenos
            <span
              class="inline-block transition-transform duration-300 group-hover:translate-x-1"
              aria-hidden="true">→</span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
