---
import "../styles/global.css";
import "@fontsource-variable/onest";
import { ClientRouter } from "astro:transitions";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <div class="min-h-screen flex">
      <slot />
    </div>
  </body>
</html>

<style>
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  ,
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  @media (prefers-reduced-motion: reduce) {
    /* si el usuario tiene desactivadas las animaciones el usuario no vera la animacion*/
    html {
      scroll-behavior: auto;
    }
  }
</style>
