---
import Layout_admin from "../../layouts/Layout_admin.astro";
import SectionContainer from "../../components/admin/SectionContainer.astro";
import Aside from "../../components/admin/Aside.astro";
import Header from "../../components/admin/Header.astro";
---

<Layout_admin title="Ordenes - Agua Máxima">
  <Aside />
  <SectionContainer>
    <Header
      title="Ordenes"
      description="Gestiona las ordenes de la plataforma"
    />
    <h1>Ordenes</h1>
  </SectionContainer>
</Layout_admin>
